<md-card>
  <md-card-header>
    <h3>Anlegen einer Disziplin NEU</h3>
  </md-card-header>
  <md-card-content>
    <table>
      <tr>
        <td>
          <!-- Name-->
          <md-input-container>
            <input mdInput type="text" placeholder="Name der Disziplin">
          </md-input-container>
        </td>
      </tr>
      <tr>
        <td>
          <!-- Leistungen-->
          <table>
            <md-radio-group>
              <tr>
                <td>
                  <md-radio-button value="false">Einzelleistung</md-radio-button>
                </td>
              </tr>
              <tr>
                <td>
                  <md-radio-button value="true">Klassenleistung</md-radio-button>
                </td>
              </tr>
            </md-radio-group>
          </table>
        </td>
      </tr>
      <tr>
        <td>
          <!--<mat-form-field>
            <mat-select placeholder="Favorite food">
              <mat-option *ngFor="let food of foods" [value]="food.value">
                {{ food.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>-->
        </td>
        <td></td>
      </tr>
    </table>
  </md-card-content>
</md-card>
<br>
<md-card>
  <table>
    <tr>
      <td style="width:40%">
        <div class="linie"></div>
      </td>
      <td>
        <button [disabled]=!secondVisible style="font-size: 1.1em" md-raised-button (click)="sendToBackend()" color="accent">
            <md-icon>done</md-icon> Disziplin speichern
        </button>
      </td>
      <td style="width: 40%">
        <div class="linie"></div>
      </td>
    </tr>
  </table>
</md-card>