<md-card>
  <md-card-header>
    <h3>Anlegen einer Disziplin NEU</h3>
  </md-card-header>
  <md-card-content>
    <table>
      <tr>
        <td>
          <h4>Name</h4>
          <!-- Name-->
          <md-input-container>
            <input mdInput type="text" placeholder="Name der Disziplin" [(ngModel)]="nameDerDisziplin">
          </md-input-container>
        </td>
      </tr>
      <tr>
        <!--Beschreibung -->
        <td>
          <h4>Beschreibung</h4>
          <md-input-container>
            <textarea mdInput type="text" matInput rows="5" cols="40" wrap="hard" placeholder="Beschreibung der Disziplin" [(ngModel)]="beschreibungDerDisziplin"
              style="background-color: #f2f2f2"></textarea>
          </md-input-container>
        </td>
      </tr>
      <tr></tr>
      <md-radio-group [(ngModel)]="klassenleistung">
        <tr>
          <!-- Leistungen-->
          <td>
            <h4>Leistungen</h4>
            <md-radio-button [value]="false">Individualsportarten
            </md-radio-button>
          </td>
        </tr>
        <tr>
          <td>
            <md-radio-button [value]="true">Manschaftssportarten
            </md-radio-button>
          </td>
        </tr>
      </md-radio-group>
      <tr></tr>
      <md-radio-group [(ngModel)]="versus">
        <tr>
          <!-- Versus-->
          <td>
            <h4>Vergleich</h4>
            <md-radio-button [value]="false">Jeder gegen Jeden</md-radio-button>
          </td>
        </tr>
        <tr>
          <td>
            <md-radio-button [value]="true">Direkter Vergleich (A gegen B)</md-radio-button>
          </td>
        </tr>
      </md-radio-group>
    </table>
  </md-card-content>
</md-card>
<br>
<md-card class="vars">
  <!-- Variablen-->
  <table>
    <tr *ngFor="let aov of arrayOfVars, let i = index">
      <td style="width:50vw">
        <md-input-container>
          <input mdInput type="text" placeholder="Name der Variable" [value]="aov.bezeichnung">
        </md-input-container>
      </td>
      <td style="width:80px">
        <ng-container>
          <md-select placeholder="Variable" [(ngModel)]="aov.typ">
            <md-option *ngFor="let e of einheitPool" [value]="e">
              {{ e.einheit }}
            </md-option>
          </md-select>
        </ng-container>
      </td>
      <td style="width:fit-content">
        <button md-button (click)="deleteVar(i)">
          <md-icon>delete forever</md-icon>
        </button>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <button md-raised-button (click)="addVar()" color="primary">
          <md-icon>add</md-icon>Neue Variable Hinzufügen
        </button>
      </td>
    </tr>
  </table>
</md-card>
<br>
<md-card>
  <!-- Regeln -->
  <h4>Regel:</h4>
  <table>
    <tr>
      <td colspan="2">
        <md-input-container>
          <textarea mdInput type="text" matInput rows="5" cols="40" wrap="hard" placeholder="Regel Script" [(ngModel)]="regel.script"
            (keyup)="textChanged()" style="background-color: #f2f2f2	"></textarea>
        </md-input-container>
      </td>
    </tr>
    <tr>
      <td style="width:20%">
        <button md-raised-button (click)="checkCode()">
         <md-icon>cached</md-icon>Überprüfen
        </button>
      </td>
      <td style="width: 65%;margin-left:20px;">
        Status:
        <md-icon style="width:fit-content" id="nichtdrücken">{{ statusCodeIcon}}</md-icon> {{ statusCodeText}}
      </td>
    </tr>
  </table>
</md-card>
<br>
<md-card>
  <table>
    <tr>
      <td>
        <button [disabled]=!syntaxCorrect style="font-size: 1.1em" md-raised-button (click)="sendToBackend()" color="accent">
            <md-icon>done</md-icon> Disziplin speichern
        </button>
      </td>
    </tr>
  </table>
</md-card>