<mat-card>
  <mat-card-header>
    <h3>Anlegen einer Disziplin</h3>
  </mat-card-header>
  <mat-card-content>
    <table>
      <tr>
        <td>
          <h4>Name</h4>
          <!-- Name-->
          <mat-form-field>
            <input matInput type="text" placeholder="Name der Disziplin" [(ngModel)]="nameDerDisziplin">
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <!--Beschreibung -->
        <td>
          <h4>Beschreibung</h4>
          <mat-form-field>
            <textarea matInput type="text" matInput rows="5" cols="40" wrap="hard" placeholder="Beschreibung der Disziplin" [(ngModel)]="beschreibungDerDisziplin"
              style="background-color: #f2f2f2"></textarea>
          </mat-form-field>
        </td>
      </tr>
      <tr></tr>
      <mat-radio-group [(ngModel)]="team">
        <tr>
          <!-- Leistungen-->
          <td>
            <h4>Leistungen</h4>
            <mat-radio-button [value]="false">Individualsportarten
            </mat-radio-button>
          </td>
        </tr>
        <tr>
          <td>
            <mat-radio-button [value]="true">Manschaftssportarten
            </mat-radio-button>
          </td>
        </tr>
      </mat-radio-group>
      <tr></tr>
      <mat-radio-group [(ngModel)]="versus">
        <tr>
          <!-- Versus-->
          <td>
            <h4>Vergleich</h4>
            <mat-radio-button [value]="false">Jeder gegen Jeden</mat-radio-button>
          </td>
        </tr>
        <tr>
          <td>
            <mat-radio-button [value]="true">Direkter Vergleich (A gegen B)</mat-radio-button>
          </td>
        </tr>
      </mat-radio-group>
    </table>
  </mat-card-content>
</mat-card>
<br>
<mat-card class="vars">
  <!-- Variablen-->
  <table>
    <tr *ngFor="let aov of arrayOfVars, let i = index">
      <td style="width:66%">
        <mat-form-field>
          <input matInput type="text" placeholder="Name der Variable" [(ngModel)]="aov.bezeichnung">
        </mat-form-field>
      </td>
      <td>
        <p>{{aov.bezeichnung}}</p>
      </td>
      <td style="width:26%">
        <mat-form-field>
          <mat-select placeholder="Einheit" [(ngModel)]="aov.typ">
            <mat-option *ngFor="let e of einheitPool" [value]="e">
              {{ e.einheit }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
      <td style="width:8%">
        <button mat-button (click)="deleteVar(i)">
          <mat-icon>delete forever</mat-icon>
        </button>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <button mat-raised-button (click)="addVar()" color="primary">
          <mat-icon>add</mat-icon>Neue Variable Hinzufügen
        </button>
      </td>
    </tr>
  </table>
</mat-card>
<br>
<mat-card>
  <!-- Regeln -->
  <h4>Regel:</h4>
  <table>
    <tr>
      <td colspan="2">
        Hilfen für das Schreiben des Scripts: <a href="http://groovy-lang.org/documentation.html" target="_blank">Groovy Dokumentation
        </a>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <mat-input-container>
          <textarea matInput type="text" matInput rows="5" cols="40" wrap="hard" placeholder="Regel Script" [(ngModel)]="regel" (keyup)="textChanged()"
            style="background-color: #f2f2f2	"></textarea>
        </mat-input-container>
      </td>
    </tr>
    <tr>
      <td style="width:20%">
        <button mat-raised-button (click)="checkCode()">
         <mat-icon>cached</mat-icon>Überprüfen
        </button>
      </td>
      <td style="width: 65%;margin-left:20px;">
        Status:
        <mat-icon style="width:fit-content" id="nichtdrücken">{{ statusCodeIcon}}</mat-icon> {{ statusCodeText}}
      </td>
    </tr>
  </table>
</mat-card>
<br>
<mat-card>
  <table>
    <tr>
      <td>
        <button [disabled]=!syntaxCorrect style="font-size: 1.1em" mat-raised-button (click)="sendToBackend()" color="accent">
            <mat-icon>done</mat-icon> Disziplin speichern
        </button>
      </td>
    </tr>
  </table>
</mat-card>