table {
    margin: auto;
    width: 100%;
}
h3 {
    text-align: center;
}
button {
    display: block;
    margin: auto;
}
mat-icon{
    vertical-align: middle;
}

linie{
    background-color: lightgray;
    border-radius: 5px;
    height: 4px;
    width: 100%;
}

td{
    vertical-align: middle;
    margin-left: 1em;
    width: 100%;
}

td > * {
    width: 100%;
}

.mat-card-content>:last-child, .mat-card>:last-child{
    margin-left: 1em;
}

.mat-input-infix{
    width: 100%;
}

textarea{
 resize: vertical;
 min-height: 5vw;
}

#nichtdrücken{
    cursor: default;
}
