<mat-card>
  <mat-card-header>
    <h3>Anlegen einer Disziplin</h3>
  </mat-card-header>
  <mat-card-content>
    <table>
      <tr>
        <td>
          <mat-slide-toggle [(ngModel)]="teamleistung">Teamleistung</mat-slide-toggle>
        </td>
      <tr>
      <tr>
        <td>
          <mat-input-container> 
            <input matInput type="text" placeholder="Name" [(ngModel)]="sportart">
          </mat-input-container>
        </td>
      <tr>
      <tr>
        <td>
          <mat-input-container> 
            <textarea matInput wrap="hard" type="text" placeholder="Beschreibung" [(ngModel)]="beschreibung"></textarea>
          </mat-input-container>
        </td>
      <tr>
      <tr>
        <td>
          <mat-input-container> 
            <input matInput type="number" placeholder="Min Teilnehmeranzahl" [(ngModel)]="minTeilnehmeranzahl">
          </mat-input-container>
        </td>
      <tr>
      <tr>
        <td>
          <mat-input-container> 
            <input matInput type="number" placeholder="Max Teilnehmeranzahl" [(ngModel)]="maxTeilnehmeranzahl">
          </mat-input-container>
        </td>
      <tr>
      <ng-container *ngIf="teamleistung">
        <tr>
          <td>
            <mat-input-container> 
              <input matInput type="number" placeholder="Anzahl der Kontrahenten" [(ngModel)]="kontrahentenAnzahl">
            </mat-input-container>
          </td>
        <tr>
      </ng-container>
    </table>
  </mat-card-content>
  <mat-card-actions>
    <!--<button mat-raised-button color="primary" (click)="submit()">Weiter</button>-->
  </mat-card-actions>
</mat-card>
<br>
<mat-card *ngIf="secondVisible">
  <mat-card-header>
    <h3>Regel-Variable anlegen</h3>
  </mat-card-header>	
  <mat-card-content>
   
    <table>
      <tr *ngFor="let row of rulesVar, let i = index">
        <td> 
          <mat-input-container> 
              <input matInput type="text" placeholder="Name der Regel-Variable" [(ngModel)]="rulesVar[i].name">
          </mat-input-container>
        </td>  
        <td> 
          <mat-input-container> 
              <input matInput type="text" placeholder="ExpressionID" [(ngModel)]="rulesVar[i].expressionParameter">
          </mat-input-container>
        </td>  
        <td> 
          <mat-input-container> 
              <input matInput type="text" placeholder="Beschreibung" [(ngModel)]="rulesVar[i].desc">
          </mat-input-container>
        </td>   
        <td> 
          <mat-input-container> 
            <input matInput type="number" placeholder="Sortier-Index" [(ngModel)]="rulesVar[i].sortIndex">
          </mat-input-container>
        </td> 
        <td> 
          <mat-slide-toggle [(ngModel)]="rulesVar[i].sortAsc">{{ getAufAbsteigend(rulesVar[i].sortAsc) }}</mat-slide-toggle>
        </td>   
        <td> 
          <mat-select placeholder="Datentyp" [(ngModel)]="rulesVar[i].typ.tid">
            <mat-option *ngFor="let t of datentypen" [value]="t.tid">
              {{ t.name }}
            </mat-option>
          </mat-select>
        </td>  
        <td>
          <mat-icon (click)="removeRuleVarLine(i)" style="cursor: pointer">delete</mat-icon>
        </td>
      </tr>  
    </table>
     <button mat-raised-button color="primary" (click)="addNewRuleVarLine()"><mat-icon>add</mat-icon>Regel-Variable hinzufügen</button>
  </mat-card-content>
</mat-card>
<br>
<mat-card *ngIf="secondVisible">
  <mat-card-header>
    <h3>Regel anlegen</h3>
  </mat-card-header>
  <mat-card-content>
    <table>
      <tr *ngFor="let row of rules, let i = index">
        <td>
          <mat-input-container style="width: 320px"> 
              <input matInput type="text" placeholder="Regel" [(ngModel)]="rules[i].expression">
          </mat-input-container>
        </td>  
        <td> 
          <mat-input-container> 
              <input matInput type="number" placeholder="Punkte" [(ngModel)]="rules[i].points">
          </mat-input-container>
        </td>
        <td>
          <mat-icon (click)="removeRuleLine(i)" style="cursor: pointer">delete</mat-icon>
        </td>
      </tr>  
    </table>
    <button mat-raised-button color="primary" (click)="addNewRuleLine()"><mat-icon>add</mat-icon>Regel hinzufügen</button>
  </mat-card-content>
</mat-card>
<br>
<button mat-raised-button color="primary" (click)="addNewRuleSet()"><mat-icon>add</mat-icon>Regelsatz hinzufügen</button>
<br>
<mat-card>
  <table>
    <tr>
      <td style="width:40%"><div class="linie"></div></td>
      <td>
        <button [disabled]=!secondVisible style="font-size: 1.1em"
          mat-raised-button (click)="sendToBackend()" color="accent">
            <mat-icon>done</mat-icon> Disziplin speichern
        </button>
    </td>
    <td style="width: 40%"><div class="linie"></div></td>
    </tr>
  </table>
</mat-card>