<img class="bgImage" height="200" width="100%" [src]="headerImage" alt="Bild konnte nicht geladen werden...">
<div class="header">
  <br>
  <a (click)="navigateToDashboard()" height="150px" width="250px"><img [src]="atiwImage" alt="Atiw Logo"></a>
  <h1>
    {{title}} <small>{{year}}</small>
  </h1>
</div>
<div class="navbar">
  <mat-toolbar color="primary" class="navbar">
    <button mat-button (click)="navigateToDashboard()">
      <mat-icon>home</mat-icon>
    </button>

    <!--Einzel-->
    <button mat-button [matMenuTriggerFor]="menu0" (click)="loadDD()">Einzel - Sportarten</button>
    <mat-menu #menu0="matMenu">
      <div *ngFor="let einzel of disziplinenEinzel">
        <button *ngIf="einzel.aktiviert" mat-menu-item (click)="navigateToDisziplin(einzel.id)">{{ einzel.bezeichnung }}</button>
      </div>
    </mat-menu>
    <!--Team-->
    <button mat-button [matMenuTriggerFor]="menu1" (click)="loadDD()">Klassen - Sportarten</button>
    <mat-menu #menu1="matMenu">
      <div *ngFor="let team of disziplinenTeam">
        <button *ngIf="team.aktiviert" mat-menu-item (click)="navigateToDisziplin(team.id)">{{ team.bezeichnung }}</button>
      </div>
    </mat-menu>

    <button mat-button *ngIf="username && role=='ADMIN'" [matMenuTriggerFor]="menu2">Admin</button>
    <mat-menu #menu2="matMenu" style="padding-top:0px !important">
      <div class="wide"><b class="wide"> &nbsp;Disziplin</b></div>
      <button mat-menu-item (click)="navigateToCreateDisciplineNew()">Disziplin anlegen</button>
      <button mat-menu-item (click)="navigateToActivateDiscipline()">Disziplin verwalten</button>
      <div class="wide" color="primary"><b class="wide">&nbsp;Verwaltung</b></div>
      <button mat-menu-item (click)="navigateToEinheitVerwalten()">Einheiten</button>
      <button mat-menu-item (click)="navigateToUAC()">Benutzer</button>
      <button mat-menu-item (click)="navigateToImportKlasse()">Klassendaten</button>
      <button mat-menu-item (click)="navigateToCreateSportfest()"> Sportfest</button>
    </mat-menu>

    <span class="fill-remaining-space"></span>

    <div *ngIf="username">
      <span class="user">{{ username }}</span>
      <mat-icon [matMenuTriggerFor]="menu3" class="noselect">more_vert</mat-icon>
      <mat-menu #menu3="matMenu">
        <button mat-menu-item (click)="openChangePassword()">Passwort ändern</button>
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
      &nbsp;
    </div>
    <div class="user" *ngIf="!username"><span>Gast</span> &nbsp;
      <button mat-button (click)="login()">Login</button>
    </div>

  </mat-toolbar>
</div>