<img class="bgImage" height="200" width="100%" [src]="headerImage" alt="Bild konnte nicht geladen werden...">
<div class="header">
  <br>
  <a (click)="navigateToDashboard()" height="150px" width="250px"><img [src]="atiwImage" alt="Atiw Logo"></a>
  <h1>
    {{title}} <small>{{year}}</small>
  </h1>
</div>
<div class="navbar">
  <md-toolbar color="primary" class="navbar">
    <button md-button (click)="navigateToDashboard()">
      <md-icon>home</md-icon>
    </button>

    <!--Einzel-->
    <button md-button [mdMenuTriggerFor]="menu0" (click)="loadDD()">Einzel - Sportarten</button>
    <md-menu #menu0="mdMenu">
      <div *ngFor="let einzel of disziplinenEinzel">
        <button *ngIf="einzel.aktiviert" md-menu-item (click)="navigateToDisziplin(einzel.id)">{{ einzel.name }}</button>
      </div>
    </md-menu>
    <!--Team-->
    <button md-button [mdMenuTriggerFor]="menu1" (click)="loadDD()">Team - Sportarten</button>
    <md-menu #menu1="mdMenu">
      <div *ngFor="let team of disziplinenTeam">
        <button *ngIf="team.aktiviert" md-menu-item (click)="navigateToDisziplin(team.id)">{{ team.name }}</button>
      </div>
    </md-menu>

    <button md-button *ngIf="username && role=='admin'" [mdMenuTriggerFor]="menu2">Admin</button>
    <md-menu #menu2="mdMenu" style="padding-top:0px !important">
      <div class="wide"><b class="wide"> &nbsp;Disziplin</b></div>
      <button md-menu-item (click)="navigateToCreateDisciplineNew()">Disziplin anlegen</button>
      <button md-menu-item (click)="navigateToActivateDiscipline()">Disziplin verwalten</button>
      <div class="wide" color="primary"><b class="wide">&nbsp;Verwaltung</b></div>
      <button md-menu-item (click)="navigateToEinheitVerwalten()">Einheiten</button>
      <button md-menu-item (click)="navigateToUAC()">Benutzer</button>
      <button md-menu-item (click)="navigateToImportKlasse()">Klassendaten</button>
      <button md-menu-item (click)="navigateToCreateSportfest()"> Sportfest</button>
    </md-menu>

    <span class="fill-remaining-space"></span>

    <div *ngIf="username">
      <span class="user">{{ username }}</span>
      <md-icon [mdMenuTriggerFor]="menu3" class="noselect">more_vert</md-icon>
      <md-menu #menu3="mdMenu">
        <button md-menu-item (click)="openChangePassword()">Passwort ändern</button>
        <button md-menu-item (click)="logout()">Logout</button>
      </md-menu>
      &nbsp;
    </div>
    <div class="user" *ngIf="!username"><span>Gast</span> &nbsp;
      <button md-button (click)="login()">Login</button>
    </div>

  </md-toolbar>
</div>