<mat-card>
  <mat-card-header>
    <h3>{{ sportart }}</h3>
  </mat-card-header>
  <mat-card-content>
    <p id="beschreibung">{{ beschreibung }}<p>
  </mat-card-content>
</mat-card>

<mat-card *ngFor="let versusID of this.versus">
  <mat-card-content>
    <table width="100%">
      <tr class="ergebnis">
        <th class="ergebnis"></th>
        <ng-container *ngFor="let leistung of this.leistungen.get(versusID)">
          <th align="center" class="ergebnis">
            {{ getKlassenNameById(leistung.kid) }}
          </th>
        </ng-container>
      </tr>
      <ng-container *ngFor="let v of variablen; let i = index">
        <tr class="ergebnis">
          <td align="left" class="ergebnis">
            <b>{{v.name}}</b>
          </td>
          <ng-container *ngFor="let leistung of this.leistungen.get(versusID)">
            <td align="center" class="ergebnis">
              {{ leistung.ergebnisse[i].wert }}
            </td>
          </ng-container>
        </tr>
      </ng-container>
    </table>
  </mat-card-content>
</mat-card>

<ng-container *ngIf="enoughPermissionsToWrite()">
  <mat-card>
    <mat-card-header>
      <h4>Ergebnisse eintragen</h4>
    </mat-card-header>
    <mat-card-content>
      <table width="100%">
        <tr *ngFor="let i of kontrahentenCountHelper">
          <td>
            <mat-select placeholder="Klasse" [(ngModel)]="this.neueLeistungen[i].kid">
              <mat-option *ngFor="let klasse of klassen" [value]="klasse.id">
                {{ klasse.bezeichnung }}
              </mat-option>
            </mat-select>
          </td>
          <td *ngFor="let row of variablen, let v = index">
            <ng-container *ngIf="row.typ.zustaende">
              <mat-select placeholder="{{variablen[v].desc}}" [(ngModel)]="this.neueLeistungen[i].ergebnisse[v].wert">
                <mat-option *ngFor="let z of row.typ.zustaende" [value]="z.name">
                  {{z.name}}
                </mat-option>
              </mat-select>
            </ng-container>

            <ng-container *ngIf="!row.typ.zustaende">
              <mat-input-container> 
                <input matInput type="text" placeholder={{variablen[v].desc}} [(ngModel)]="this.neueLeistungen[i].ergebnisse[v].wert">
                <mat-hint *ngIf="touched" >Bitte ausfüllen.</mat-hint>
              </mat-input-container>
            </ng-container>
          </td>
        </tr>
      </table>  
      <button mat-raised-button (click)="sichern()" color="accent">Speichern</button>
    </mat-card-content>
  </mat-card>
</ng-container>