<mat-list>
  <mat-list-item class="main" (click)="expandSportarten()">Sportarten</mat-list-item>
  <div *ngIf="selectedSportarten">
    
    <mat-list-item class="sub" (click)="expandEinzel()">Einzel</mat-list-item>
      <div *ngIf="selectedEinzel">
        <div *ngFor="let einzel of disziplinenEinzel"> 
          <mat-list-item class="subsub"
                        *ngIf="einzel.aktiviert"
                        (click)="navigateToDisziplin(einzel.id)">
                        {{ einzel.bezeichnung }}
          </mat-list-item>
        </div>
      </div>
    <mat-list-item class="sub" (click)="expandTeam()">Klassen</mat-list-item>
      <div *ngIf="selectedTeam">
        <div *ngFor="let team of disziplinenTeam">
          <mat-list-item class="subsub"
                        *ngIf="team.aktiviert"
                        (click)="navigateToDisziplin(team.id)">
                        {{ team.bezeichnung }}
          </mat-list-item>
         </div>
      </div>
  </div>
    
  <mat-list-item *ngIf="role=='ADMIN'" class="main" (click)="expandAdmin()">Admin</mat-list-item>
    <div *ngIf="selectedAdmin">
      <mat-list-item class="sub" (click)="navigateToCreateDiscipline()">Disziplin anlegen</mat-list-item>
      <mat-list-item class="sub" (click)="navigateToActivateDiscipline()">Disziplin verwalten</mat-list-item>
      <mat-list-item class="sub" (click)="navigateToEinheitVerwalten()">Einheiten verwalten</mat-list-item>
      <mat-list-item class="sub" (click)="navigateToUAC()">Benutzerverwaltung</mat-list-item>
      <mat-list-item class="sub" (click)="navigateToCreateSportfest()">Neues Sportfest</mat-list-item>
    </div>
    
  <mat-list-item *ngIf="role=='ADMIN'" class="main" (click)="navigateToImportKlasse()">Klassendaten verwalten</mat-list-item>
</mat-list>