<mat-toolbar color="primary">
    <mat-icon (click)="changeSidenav()">menu</mat-icon>
    <mat-icon (click)="navigateToDashboard()" style="margin-left: 15px">home</mat-icon>
    <span class="fill-remaining-space"></span>
    <div *ngIf="username">
      <span>{{ username }}</span>
      <mat-icon [matMenuTriggerFor]="menu">more_vert</mat-icon>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openChangePassword()">Passwort ändern</button>
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
      &nbsp;
    </div>
    <div *ngIf="!username"><span>Gast</span>
      &nbsp;
      <button mat-button (click)="login()">Login</button>
    </div>
</mat-toolbar>
