<mat-card>
  <mat-card-header>
    <h3>Benutzerverwaltung</h3>
  </mat-card-header>
  <br>
  <mat-card-content>
    <table>
      <!--Tabelle mit im System existierenden Benutzern-->
      <tr>
        <th>Benutzer</th>
        <th>Rolle</th>
        <th>Passwort Reset</th>
        <th>Löschen</th>
      </tr>

      <tr *ngFor="let user of users">
        <td>{{ user.name }}</td>
        <td>{{ user.role }}</td>
        <td>
          <mat-icon (click)="resetPassword(user)">restore</mat-icon>
        </td>
        <td>
          <mat-icon (click)="deleteUser(user)">delete forever</mat-icon>
        </td>
      </tr>
      <tr>
        <td>
          <!--neuen Benutzer einfügen-->
          <mat-input-container>
            <input matInput placeholder="Benutzername" [(ngModel)]="username">
          </mat-input-container>
        </td>
        <td>
          <mat-form-field>
            <mat-select placeholder="Rolle" [(ngModel)]="selectedRole">
              <mat-option value="admin">
                Admin
              </mat-option>
              <mat-option value="schiedsrichter">
                Schiedsrichter
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
        <td>
          <mat-input-container>
            <input matInput placeholder="Password" [(ngModel)]="password">
          </mat-input-container>
        </td>
        <td style="padding-top: 10px;">
          <mat-icon (click)="addUser()">add_box</mat-icon>
        </td>
      </tr>
    </table>
  </mat-card-content>
  <mat-card-actions>

  </mat-card-actions>
</mat-card>