<mat-card>
  <mat-card-header>
    <h3>Sportfest beenden</h3>
  </mat-card-header>
  <mat-card-content>
    Mit Beendingung des Sportfest werden allen Bonuspunkte verrechnet.<br> Dieser Vorgang kann <b>nicht</b> Rückgängig gemacht
    werden!
    <br><br>
    <mat-card-actions>
      <button mat-raised-button color="warn" (click)="openDialog('Sportfest beenden',0)">Sportfest beenden</button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
<br>
<mat-card>
  <mat-card-header>
    <h3>Neues Sportfest</h3>
  </mat-card-header>
  <mat-card-content>
    <br> Achtung beim Anlegen eines neuen Sportfests wird die <b>Datenbank geleert</b>!
    <br>
    <b>Sichern Sie vorher die Datenbank.</b>
    <br><br>
    <mat-card-actions>
      <button mat-raised-button color="warn" (click)="openDialog('Neues Sportfest starten',1)">Neues Sportfest</button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>