<mat-card>
  <h1>Herzlich Willkommen zum ATIW Sportfest!</h1>
</mat-card>
<br>
<mat-card>
  <h3 >Klassenranking</h3>
  <table>
    <tr>
      <th>
        <div>
          <p>Rang</p>
          <mat-icon (click)="sortByRangRev()" class="noselect">
            keyboard_arrow_up
          </mat-icon>
          <mat-icon (click)="sortByRang()" class="noselect">
            keyboard_arrow_down
          </mat-icon>
        </div>
      </th>
      <th>
        <div>
          <p>Klasse</p>
          <mat-icon (click)="sortByKlasseRev()" class="noselect">
            keyboard_arrow_up
          </mat-icon>
          <mat-icon (click)="sortByKlasse()" class="noselect">
            keyboard_arrow_down
          </mat-icon>
        </div>
      </th>
      <th>
        <div>
          <p>Punkte</p>
          <mat-icon (click)="sortByRangRev()" class="noselect">
            keyboard_arrow_up
          </mat-icon>
          <mat-icon (click)="sortByRang()" class="noselect">
            keyboard_arrow_down
          </mat-icon>
        </div>
      </th>
    </tr>
    <ng-container *ngFor="let teiln of visibleTeilnehmer, let i=index">
      <tr *ngIf="i<=4 || extended">
        <!-- TODO index mit plazierung ersetzen-->
        <td class="left">
          {{teiln.rang}}
        </td>
        <td class="left">
          {{ teiln.name }}
        </td>
        <td class="left">
          {{ teiln.points }}
        </td>
      </tr>
    </ng-container>
  </table>
  <br>
  <div style="width: 100%; text-align: center;">
    <button style="font-size: 1.1em;" mat-raised-button (click)="toggleVisible()" color="primary">
            {{btnText}}
        </button>
  </div>
</mat-card>