<mat-card>
  <mat-card-header>
    <h3>Einheiten Verwalten</h3>
  </mat-card-header>
  <mat-card-content>
    <div *ngFor="let e of einheitPool, let i = index">
      <mat-expansion-panel *ngIf="!e.shouldDelete">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{e.einheit}}
          </mat-panel-title>
          <mat-panel-description>
            Klicken, um zu verwalten
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-input-container>
          <input matInput placeholder="Name" [(ngModel)]="e.einheit">
        </mat-input-container>

        <mat-input-container>
          <input matInput placeholder="Datentyp" [(ngModel)]="e.datentyp">
        </mat-input-container>

        <mat-input-container>
          <input matInput placeholder="Format [Regex]" [(ngModel)]="e.format">
        </mat-input-container>
        <!--Backslashes müssen Escaped werden! ("\" wird zu "\\")-->

        <mat-input-container>
          <input matInput placeholder="Beispiel" [(ngModel)]="e.bsp">
        </mat-input-container>

        <button mat-button (click)="deleteEinheit(i)">
          <mat-icon>delete forever</mat-icon>
        </button>
      </mat-expansion-panel>
    </div>
    <br>
    <button mat-raised-button (click)="addEinheit()" color="primary">
      <mat-icon>add</mat-icon>
    </button>
    <br>
    <br>
    <table style="width:100%"><!--  speichern Button-->
      <tr style="width:100%">
        <td style="width:100%">
          <button mat-raised-button (click)="sendToBackend()" color="accent" style="width:100%">
            <mat-icon>check</mat-icon> Speichern
          </button>
        </td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>