<ng-container>
  <md-card-content>
    <md-card>
      <md-card-header>
        <h3>{{ disziplin.name }}</h3>
      </md-card-header>
    </md-card>

    <md-card>
      <md-card-header>
        <h4>Beschreibung</h4>
      </md-card-header>
      <md-card-content>
        <p id="beschreibung">{{ disziplin.beschreibung }}</p>
      </md-card-content>
    </md-card>
  </md-card-content>

  <md-card-content *ngIf="enoughPermissionsToWrite()">
    <md-card>
      <!-- Tabelle für Ergebniseingabe des Admins -->
      <table style="width: 100%">
        <tr *ngFor="let selectedAnmeldung of selectedAnmeldungen; let eintragPos = index">
          <td>
            <!-- Dropdown zur Auswahl der Klasse / des Schülers -->
            <md-select placeholder="Schüler" [(ngModel)]="selectedAnmeldungen[eintragPos]" required>
              <ng-container *ngFor="let anmeldung of anmeldungen; let dropdownPos = index">
                <md-option [value]="anmeldung" *ngIf="!anmeldungBereitsGewaehlt(eintragPos, anmeldung) && uniqueKlasse(dropdownPos)">
                  <ng-container *ngIf="!disziplin.klassenleistung" (click)="leistungenHolen(anmeldung)">
                    {{ anmeldung.schueler.vorname }} {{anmeldung.schueler.name}}
                  </ng-container>
                  <ng-container *ngIf="disziplin.klassenleistung">
                    {{ anmeldung.schueler.klasse.name}}
                  </ng-container>
                </md-option>
              </ng-container>
            </md-select>
          </td>
          <td *ngFor="let variable of disziplin.variablen; let variablePos = index">
            <md-input-container>
              <input mdInput id="name" name="name" placeholder="{{variable.bezeichnung}}" [(ngModel)]="leistungen[eintragPos][variablePos].wert"
                [pattern]="variable.typ.format" #name="ngModel">
              <md-error>
                Beispiel: {{variable.typ.bsp}}
              </md-error>
            </md-input-container>
          </td>
        </tr>
        <tr>
          <!-- Button um neuen Teilnehmer hinzuzufügen -->
          <td style="width:fit-content">
            <button md-raised-button color="primary" (click)="teilnehmerHinzufuegen()">
              <md-icon>add</md-icon>Hinzufügen
            </button>
          </td>
        </tr>
      </table>
    </md-card>
    <md-card>
      <!-- Tabelle für den Speichern button -->
      <table class="full-width">
        <tr>
          <td>
            <button md-raised-button color="primary" class="full-width" (click)="speichern()" [disabled]="!speicherBedingungenErfuellt()">Speichern</button>
          </td>
        </tr>
      </table>
    </md-card>
  </md-card-content>

  <!-- Tabelle mit Ergebnissen -->
  <md-card-content>
    <md-card>
      <table class="ergebnisse">
        <tr>
          <th>
            Rang
          </th>
          <th>
            <ng-container *ngIf="!disziplin.klassenleistung">
              Schüler
            </ng-container>
            <ng-container *ngIf="disziplin.klassenleistung">
              Klasse
            </ng-container>
          </th>
          <th>
            Punkte
          </th>
          <th *ngFor="let variable of disziplin.variablen">
            {{variable.bezeichnung}}
          </th>
          <th *ngIf="disziplin.versus">
            Versus
          </th>
        </tr>
        <tr *ngFor="let ergebnis of ergebnisse">
          <td>
            {{ergebnis.rang}}
          </td>
          <td >
            <ng-container *ngIf="!disziplin.klassenleistung">
              {{ergebnis.schueler.vorname}} {{ergebnis.schueler.name}}
            </ng-container>
            <ng-container *ngIf="disziplin.klassenleistung">
              {{ergebnis.klasse.name}}
            </ng-container>
          </td>
          <td>
            {{ergebnis.punkte}}
          </td>
          <td *ngFor="let leistung of ergebnis.leistungen">
            {{leistung.wert}}
          </td>
          <td *ngIf="disziplin.versus">
            {{ergebnis.visibleVersus}}
          </td>
        </tr>
      </table>
    </md-card>
  </md-card-content>
</ng-container>