<div id="container" *ngIf="!isMobile()">
   <div id="header">
        <app-header></app-header>
    </div>
    <div id="body">
        <router-outlet></router-outlet>
    </div>
    <div id="footer">
        <app-footer></app-footer>
    </div>
</div>

<div id="container" *ngIf="isMobile()">
    <mat-sidenav-container>
        <app-mobile-header-image></app-mobile-header-image>
        <app-mobile-header (sidenavChange)="sidenav.open()" (roleChanged)="setRole($event)"></app-mobile-header>
        <router-outlet></router-outlet>
        <mat-sidenav #sidenav class="example-sidenav" mode="over">
            <app-mobile-header-image (closeSideNav)="sidenav.close()"></app-mobile-header-image>
            <mat-toolbar color="primary">
                <mat-icon (click)="sidenav.close()">menu</mat-icon>
                <span class="fill-remaining-space"></span>
                <span class="credits">FS151</span>
            </mat-toolbar>
            <app-mobile-menu-list (itemSelected)="sidenav.close()" [role]="role"></app-mobile-menu-list>
        </mat-sidenav>
    </mat-sidenav-container>
</div>
