<mat-card>
  <mat-card-header>
    <h3>Disziplin aktivieren / deaktivieren</h3>
  </mat-card-header>
  <br>
  <mat-card-content>
    <table>
      <tr>
        <th>Disziplin</th>
        <th>aktiviert</th>
        <th></th>
      </tr>
      <tr *ngFor="let dis of disziplinen, let i = index" >
        <td>{{ dis.bezeichnung }}</td>
        <td>
          <mat-slide-toggle [(ngModel)]="dis.aktiviert" (change)="save(dis)"></mat-slide-toggle>
        </td>
        <td>
          <mat-icon (click)="editDiscipline(dis)" >edit</mat-icon>
        </td>
        <td>
          <mat-icon (click)="deleteDiscipline(dis)" >delete forever</mat-icon>
        </td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>