<mat-card>
  <mat-card-header>
    <h3>{{ sportart }}</h3>
  </mat-card-header>
</mat-card>

<mat-card>
  <mat-card-header>
    <h4>Beschreibung</h4>
  </mat-card-header>
  <mat-card-content>
    <p id="beschreibung">{{ beschreibung }}</p>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <h4>Ergebnisse</h4>
  </mat-card-header>
  <mat-card-content>
    <table width="100%">
      <tr>
        <th>
          <button mat-raised-button (click)="klasseAufklappen=!klasseAufklappen" color="accent">Klassenlisten anzeigen</button>
        </th>
      </tr>
      <div *ngIf="klasseAufklappen">
        <tr>
          <td>
            <mat-card>
              <mat-list *ngFor="let klasse of klassenMitLeistungen">
                <h3 (click)="aufklappen(klasse.id)">{{klasse.bezeichnung}}</h3>
                <div [hidden]="!aufgeklappt[klasse.id]">
                  <table width="100%">
                    <tr>
                      <th></th>
                      <ng-container *ngFor="let v of variablen">
                        <th>
                          {{v.name}}
                        </th> 
                      </ng-container>
                    </tr>
                    <ng-container *ngFor="let s of schuelerEinerKlasseMitLeistung[klasse.id]">
                      <ng-container *ngIf="s">
                        <tr>
                          <td>
                            <b>{{ s.vorname }} {{ s.name }}</b>
                          </td>
                          <ng-container *ngFor="let v of variablen">
                            <td align="center">
                              {{ ergebnisseEinesSchuelersEinerKlasse[klasse.id][s.sid][v.var_id].wert }}
                            </td>
                          </ng-container>
                        </tr>
                      </ng-container>
                    </ng-container>
                  </table>
                </div>
              </mat-list>
            </mat-card>
          </td>
        </tr>
      </div>
      <tr>
        <td align="center" valign="top">
          <mat-card>
            <mat-card-header>
              <h4>Bestenliste "{{sportart}}"</h4>
            </mat-card-header>
            <mat-card-content>
              <table>
                <tr>
                  <th align="left" (click)="(sortRev)? sortByRangRev() : sortByRang()">
                    Platzierung <mat-icon>import_export</mat-icon>
                  </th>
                  <th align="left">Name</th>
                  <th align="left">Ergebnis</th>
                </tr>
                <tr *ngFor="let s of bestenSchueler">
                  <td>{{s.value + 1}}</td>
                  <td>{{s.viewValue}}</td>
                  <td>{{s.ergebnis}}<td>
                </tr>
              </table>
            </mat-card-content>
          </mat-card>
        </td>
      </tr>      
    </table>    
  </mat-card-content>
</mat-card>

<ng-container *ngIf="enoughPermissionsToWrite()">
  <mat-card>
    <mat-card-header>
      <h4>Ergebnis eintragen</h4>
    </mat-card-header>
    <mat-card-content>
      <mat-select placeholder="Klasse" [(ngModel)]="neueLeistung.kid">
        <mat-option *ngFor="let klasse of angemeldeteKlassen" [value]="klasse.id">
          {{ klasse.bezeichnung }}
        </mat-option>
      </mat-select>
      
      <mat-select placeholder="Schüler" [(ngModel)]="neueLeistung.sid">
        <mat-option *ngFor="let s of angemeldeteSchuelerEinerKlasse[neueLeistung.kid]" [value]="s.sid">
          <div *ngIf="s.id==neueLeistung.kid"> 
            {{ s.vorname }} {{ s.name }}
          </div>
        </mat-option>
      </mat-select>
      
      <table>
        <tr><br></tr>
        <tr *ngFor="let row of variablen, let i = index">
          <td> 

            <ng-container *ngIf="row.typ.zustaende">
              <mat-select placeholder="{{variablen[i].desc}}" [(ngModel)]="this.neueLeistung.ergebnisse[i].wert">
                <mat-option *ngFor="let z of row.typ.zustaende" [value]="z.name">
                  {{z.name}}
                </mat-option>
              </mat-select>
            </ng-container>

            <ng-container *ngIf="!row.typ.zustaende">
              <mat-input-container> 
                <input matInput type="text" placeholder={{variablen[i].desc}} [(ngModel)]="this.neueLeistung.ergebnisse[i].wert">
                <mat-hint *ngIf="touched" >Bitte ausfüllen.</mat-hint>
              </mat-input-container>
            </ng-container>
          </td>

        </tr>  
      </table>  
      <button mat-raised-button (click)="sichern()" color="accent" [disabled]="sicherbar()">Speichern</button>
    </mat-card-content>
  </mat-card>
</ng-container>
